{:default true

 :alone 500
 :delay 200
 :held 500
 :sim 200
 :simlayer-threshold 222
 :modifiers {;
             :super-hyper [:command :shift :control :option :fn]
             :hyper [:command :shift :control :option]
             :cso [:command :shift :option]
             :cst [:command :shift :control]
             :co [:command :option]
             :cs [:command :shift]
             :ct [:command :control]
             :to [:control :option]
             :ts [:control :shift]
             ;
             }
 :froms {;alias
         :delete {:key :delete_or_backspace}
         :return {:key :return_or_enter}

         ;colemak froms (for easier mnemonics)
         :-f {:key :e}
         :-p {:key :r}
         :-g {:key :t}
         :-j {:key :y}
         :-l {:key :u}
         :-u {:key :i}
         :-y {:key :o}
         :-semicolon {:key :p}

         :-a {:key :a}
         :-r {:key :s}
         :-s {:key :d}
         :-t {:key :f}
         :-d {:key :g}
         :-n {:key :j}
         :-e {:key :k}
         :-i {:key :l}
         :-o {:key :semicolon}

         :-z {:key :z}
         :-x {:key :x}
         :-c {:key :c}
         :-v {:key :v}
         :-b {:key :b}
         :-k {:key :n}
         :-m {:key :m}

         ;
         }

 :tos {;
       ;shortcuts
       :autocomplete {:key :spacebar :modi :control} ;!Tspacebar
       :command_palette {:key :t :modi :command}
       :delete_line {:key :k :modi :cs} ;!CSk

       :find_in_project {:key :f :modi :cs} ;!CSf

       :focus_git {:key :g :modi :ts} ;!TSg
       :focus_editor {:key :e :modi :control}
       :focus_explorer {:key :e :modi :cso} ;:!CSOe
       :focus_terminal {:key :j :modi :command}

       :toggle_sidebar {:key :b :modi :command} ;!Cb

       :expand_selection {:key :right_arrow :modi :cst}
       :shrink_selection {:key :left_arrow :modi :cst}

       :go_to_file {:key :p :modi :command}
       :insert_line_below {:key :return_or_enter :modi :command} ;!Creturn_or_enter
       :insert_line_above {:key :return_or_enter :modi :cs} ;!Creturn_or_enter
       :wrap_selection {:key :p :modi :hyper}

       ;named symbols
       :open_brace {:key :open_bracket :modi :shift}
       :close_brace {:key :close_bracket :modi :shift}

       :open_paren {:key :9 :modi :shift}
       :close_paren {:key :0 :modi :shift}

       :less_than {:key :comma :modi :shift}
       :greater_than {:key :period :modi :shift}

       :emoji_picker {:key :spacebar :modi :ct} ;!CTspacebar

       :open_onepassword {:key :backslash :modi :co} ;!OCbackslash

       :take_screenshot {:key :6 :modi :cs} ;!CS6

       :toggle_screen_brush {:key :tab :modi :option} ;!Otab

       ;chrome
       :open_dev_tools {:key :i :modi :co} ;:!COl

       ;
       }
 :conditions {;
              :code-1 [:code :multitouch_extension_finger_count_total]
              ;
              }

 :templates {;
             :alfred "osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"%s\"'"
             :code-project "open -a 'Visual Studio Code' %s"
             :delay "osascript -e 'delay \"%s\"'"
             :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
             :type "osascript -e 'tell application \"System Events\" to keystroke \"%s\"'"
             :launch "osascript -e 'tell application \"%s\" to activate'"
             :open "open \"%s\""
             :open-a "open -a '%s'"
             :restream "osascript -e 'tell application \"Restream Chat\" to activate'"
             :zsh "zsh ~/.zfunc/'%s'"
             ;
             }

 :applications {;
                :ableton ["com.ableton.live"]
                :chrome ["com.google.Chrome"]
                :code ["com.microsoft.VSCode"]
                :fcp ["com.apple.FinalCut"]
                :miro ["com.electron.realtimeboard"]
                :screenflow ["net.telestream.screenflow9"]
                :slack ["com.tinyspeck.slackmacgap"]
                :webstorm ["com.jetbrains.Webstorm"]
                ;
                }
; Layers are typically "thumb keys" or "pinky keys"
 :layers {;
          :caps_lock-mode {:key :caps_lock :alone {:key :escape}}
          :escape-mode {:key :escape :alone {:key :escape}}
          :f23-mode {:key :f23 :alone  {:key :vk_none}}
          :f24-mode {:key :f24 :alone {:key :spacebar :modi :left_option}}
          :non-mode {:key :non_us_backslash :alone {:key :non_us_backslash}}
          :num-mode {:key :keypad_num_lock :alone {:key :vk_none}}
          :shift-mode {:key :shift}
          :tab-mode {:key :tab :alone {:key :tab}}
          :tilde-mode {:key :grave_accent_and_tilde :alone {:key :grave_accent_and_tilde}}

          ;testing left thumb + right thumb
          :f24-shift-mode {:key :left_shift :condi :f24-mode}

          ;
          }
 :simlayers {;
             :quote-mode {:key :quote}
             :period-mode {:key :period}
             :tab-mode {:key :tab}

             :q-mode {:key :q}

             :hyphen-mode {:key :hyphen :alone {:key :hyphen}}

             :a-mode {:key :a}
             :s-mode {:key :s}
             :d-mode {:key :d}
             :f-mode {:key :f}
             :g-mode {:key :g}
             :j-mode {:key :j}

             :z-mode {:key :z}

             :equals-mode {:key :equal_sign}
             :slash-mode {:key :slash}

             :semicolon-mode {:key :semicolon}

             :spacebar-mode {:key :spacebar}

 ;
             }
 :devices {;; Note - I'm currently using a Kinesis Advantage keyboard for my defaults
           ;; and my macbook hasn't left my desk in a looooooong time...
           :macbook [{:product_id 832 :vendor_id 1452}]
           ;
           }
 :main [;
        {:des "test"
         :rules [;
                 ;
                 ]}

        {:des "testing thumb chords"
         :rules [:f24-shift-mode
                 [:a "say poop"]
                 ;
                 ]}



        {:des "slack"
         :rules [;
                 [:condi :slack]
                 [:left_command :left_command nil {:alone :!Ct}]
                 ;
                 ]}

        {:des "miro"
         :rules [[:condi :miro :multitouch_extension_finger_count_total]
                 [:delete_or_backspace [:escape :button1 :delete_or_backspace]]
                 [:a [:escape :n :button1]]

                 [:condi :miro ["multitouch_extension_finger_count_total" 2]]
                 [:f [:escape :n :button1]]
                 [:c [:!Cc :button1 :!Cv]]
                 ;
                 ]}

        {:des "code"
         :rules [:code
                 [:left_command :left_command nil {:alone :focus_editor}]
                 [:left_option :left_option nil {:alone :focus_terminal}]
                 [:right_option :right_option nil {:alone :command_palette}]
                 [:right_control :right_control nil {:alone :go_to_file}]

                 [:condi :code :slash-mode]
                 [:w :wrap_selection]

                 ;view
                 ;note - I try to keep these on my left hand so I can keep my right on the mouse
                 [:condi :code :escape-mode]
                 [:-g :focus_git] ;; SCM
                 [:-e :focus_explorer] ;; Explorer
                 [:-d :focus_explorer] ;; Explorer
                 [:-s :!!s] ;; Status Bar
                 [:-t :focus_terminal]
                 [:-f :find_in_project]
                 [:-z [:!Ck :z]] ;zen mode
                 [:-v :!!v]
                 [:-x :!!x]
                 [:-p :!!r] ;toggle panel
                 [:semicolon :!!semicolon]

                ;;  [:left_shift :!Cb]
                 [:-a :toggle_sidebar]

                 ;trackpad

                 ;trackpad 2
                 [:condi :code ["multitouch_extension_finger_count_total" 2]]
                 [:-t [:button1 :f2]]

                 ;
                 ]}


        {:des "screenflow"
         :rules [:screenflow
                 ; mouse
                 [{:pkey :button3}
                  [:h {:pkey :button1}]

                  {:afterup {:key :a}}]

                 [{:pkey :button2}
                  [{:pkey :button1 :modi :left_shift} :!Cdelete_or_backspace]]

                 ;trackpad
                 [:condi :screenflow :multitouch_extension_finger_count_total]
                 [:spacebar :spacebar]
                 [:d [{:pkey :button1 :modi :left_shift} :!Cdelete_or_backspace]]
                 [:a :!COsemicolon]

                 ;
                 ]}

        {:des "ableton"
         :rules [:ableton
                 [:left_control :left_control nil {:alone :!CSm}]
                 [:left_command :left_command nil {:alone :!CSt}]
                 [:right_shift :right_shift nil {:alone :!Stab}]
                 [:right_alt :right_alt nil {:alone :!COp}]

                 [:grave_accent_and_tilde :!COb]

                 [:f1 :!C1]
                 [:f2 :!C2]
                 [:f3 :!C4]

                 ; trackpad
                 [:condi :ableton :multitouch_extension_finger_count_total]
                 [:left_option [:!Ce :!Cj]]
                 [:b :!CSm]
                 [:left_command :!C4]
                 [:q [:q :q]]
                 [:w :!COl]
                 [:g [:button1 :button1]]

                 [:t :!C4]
                 [:hyphen :!C1]
                 [:equal_sign :!C2]

                ;;  [:g [:button1 :button1]]


                 [:e :!Stab]
                 [:r :!COp]

                 [:left_shift [:button1 :delete_or_backspace]]
                 [:delete_or_backspace [:button1 :delete_or_backspace]]
                 [:f1 :!C4]
                 ;;  

                 ;trackpad 2
                 [:condi :ableton ["multitouch_extension_finger_count_total" 2]]
                 [:a :!COb]
                 [:s [:!COl]]
                 [:d :!Stab]
                 [:f :!Cl]
                ; trackpad 3
                 [:condi :ableton ["multitouch_extension_finger_count_total" 3]]
                 [:a :!CSm]
                 [:s [:!CSm]]
                 [:d :!Cj]
                 [:f :!Cj]
                 ;
                 ]}

        {:des "trackpad"
         :rules [;
                 :multitouch_extension_finger_count_total
                 [:f :button1]

                 [:grave_accent_and_tilde :!Tgrave_accent_and_tilde]
                 [:w :!Cw]
                 [:e :!Ct]
                 [:r :!Cl]

                 [:a {:pkey :button1 :modi :left_option}]
                 [:s :button2]

                 [:d {:pkey :button1 :modi :left_shift}]
                 ;Allow "a" to be left_option in other apps
                 [:g {:pkey :button1 :modi :left_command}]

                 [:z :!Cz]
                ;  [:non_us_backslash :!CSz]
                 [:x :!Cx]
                 [:c :!Cc]
                 [:v :!Cv]
                 [:b :!Cb]

                 ;trackpad 2
                 [:condi ["multitouch_extension_finger_count_total" 2]]

                 [:x [:button1 :!Cx]]
                 [:c [:button1 :!Cc]]
                 [:v [:button1 :!Cv]]
                ;;  [:##f :button2]

                 ;trackpad 3
                 [:condi ["multitouch_extension_finger_count_total" 3]]
                 [:d :take_screenshot]

                ;;  [:a :!COleft_arrow]
                ;;  [:s :!Cleft_arrow]
                ;;  [:d :!Cright_arrow]
                ;;  [:f :!COright_arrow]

                 ;trackpad 4
                 [:condi ["multitouch_extension_finger_count_total" 4]]
                 [:##f :return_or_enter]
                 ;
                 ]}

        {:des "snippets"
         :rules [:quote-mode
                 [:-c [:c :o :n :s :o :l :e :period :l :o :g :open_paren :close_paren :left_arrow]]  ;console.log()
                 [:-n [:c :l :a :s :s :!Sn :a :m :e :equal_sign :!Squote :!Squote :left_arrow]] ;className="" 
                 [:-e [:type "johnlindquist@egghead.io"]]
                 [:-g [:type "johnlindquist@gmail.com"]]
                 [:-s [:type "johnlindquist+spam@gmail.com"]]
                 [:-j [:type "johnlindquist"]]]}

        {:des "open files"
         :rules [:semicolon-mode
                 [:-c [:code-project "~/.config"]]
                 [:-k [:code-project "~/.dotfiles/karabiner/"]]
                 [:-b [:code-project "~/.bin"]]
                 [:-z  [:code-project "~/.zfunc"]]
                 [:-j  [:code-project "~/.js"]]
                 [:-a [:code-project "~/projects/automatoes.com"]]
                 [:-l [:code-project "~/projects/automatoes.com/_layouts"]]
                 [:-e [:code-project "~/projects/egghead-io-nextjs"]]
                 [:-t [:zsh "thoughts"]] ;a script that creates a new journal mdx file and open in code

                 ;
                 ]}

        {:des "final cut pro"
         :rules [:fcp
                 [{:pkey :button3}
                  [:h {:pkey :button1}]

                  {:afterup {:key :a}}]
                 [:condi :fcp :multitouch_extension_finger_count_total]
                 [:delete_or_backspace [:button1 :delete_or_backspace]]


                ;;  [:left_command :left_command nil {:alone :!Cb}]
                 ;
                 ]}
        {:des "chrome"
         :rules [:chrome
                 [:left_command :left_command nil {:alone [:!Ct]}]
                 [:left_option :left_option nil {:alone [:!Cw]}]

                 [:condi :chrome ["multitouch_extension_finger_count_total" 1]]

                 [:condi :chrome ["multitouch_extension_finger_count_total" 2]]
                 [:-d :open_dev_tools]
                 [:-a :!COleft_arrow]
                 [:-t :!COright_arrow]
                ;;  [:grave_accent_and_tilde :a nil {:delayed {:invoked [:y] :canceled [:x]}}]
                 ;
                 ;
                 ]}




        {:des "caps_lock"
         :rules [:caps_lock-mode
                 [:##caps_lock :##escape]
                 ; I don't use a caps_lock key on my keyboard
                 ;
                 ]}

        {:des "alfred"
         :rules
         [:f24-mode
          [:-a :open_onepassword]
          [:-c [:alfred "code" "com.vivaxy.alfred-workflow.open-in-vscode" " "]]
          [:-t :!!d] ;Search Google
        ;   [:f [:alfred "google" "com.johnlindquist.google"]] ;Search Google
          [:-g [:alfred "github" "de.gh01.alfred.github" " "]]
          [:-y [:alfred "giphy" "dev.kejadlen.giphy" " "]]
          [:-f :!!t]
          [:-l :!!l]
          [:-i [:launch "iTerm"]]
          ;restart karabiner
          [:-k "launchctl kickstart -k org.pqrs.karabiner.karabiner_console_user_server"]
                 ;
          ]}


        {:des "j-mode right hand"
         :rules [:j-mode
                 [:k :emoji_picker]
                 ;
                 ]}

        {:des "delete"
         :rules [:j-mode
                 [:hyphen :delete_line :code]
                 [:hyphen :!Cdelete_or_backspace]
                 [:a :!Odelete_or_backspace]
                 [:s :delete_or_backspace]
                 [:d :delete_forward]
                 [:f :!Odelete_forward]
                 [:g :!Cdelete_forward]

                 ;
                 ]}


        {:des "homerow"

         :rules [:f-mode

                 [:##s :left_command]
                 [:##d :right_shift]
                ;;  [:##f :left_option]
                 [:##g :left_control]




                ;;  [:##n :delete_or_backspace]
                ;;  [:##period :delete_forward]


                 [:##y :!Cleft_arrow]
                 [:##o :!Cright_arrow]

                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]

                 [:semicolon :autocomplete]
                 [:return_or_enter :insert_line_below]
                 [:!Sreturn_or_enter :insert_line_above]




                 [:left_shift :expand_selection]
                 ;
                 ]}

        {:des "homerow command"
         :rules [:s-mode
                 [:##a :left_option]
                 [:##d :left_shift]

                 [:##y :home]
                 [:##o :end]

                 [:##h :!Cleft_arrow]
                 [:##j :!Cdown_arrow]
                 [:##k :!Cup_arrow]
                 [:##l :!Cright_arrow]

                 [:##spacebar {:pkey :button1 :modi :left_command}]
                 [:##left_shift :##button2]
                 ;
                 ]}

        {:des "homerow shift"
         :rules [:d-mode

                 [:##a :left_option]
                 [:##s :left_command]

                 [:##y :!Shome]
                 [:##o :!Send]

                 [:##h :!Sleft_arrow]
                 [:##j :!Sdown_arrow]
                 [:##k :!Sup_arrow]
                 [:##l :!Sright_arrow]


                 [:left_shift :shrink_selection]
                 ;
                 ]}
        {:des "homerow alt"
         :rules [:a-mode

                 [:##d :left_shift]
                 [:##s :left_command]

                 [:##y :home]

                 [:##o :end]

                 [:##h :!Oleft_arrow]
                 [:##j :!Odown_arrow]
                 [:##k :!Oup_arrow]
                 [:##l :!Oright_arrow]
                 ;
                 ]}
        {:des "homerow control"
         :rules [:hyphen-mode
                ;  [:h {:mkey {:hwheel 60}}]
                ;  [:j {:mkey {:vwheel 60}}]
                ;  [:k {:mkey {:vwheel -60}}]

                ;  [:l {:mkey {:hwheel -60}}]

                 [:##d :left_shift]
                 [:##s :left_command]

                 [:##y :home]

                 [:##o :end]

                 [:##h :!Tleft_arrow]
                 [:##j :!Tdown_arrow]
                 [:##k :!Tup_arrow]
                 [:##l :!Tright_arrow]
                ;  ;
                 ]}


        {:des "spacebar"
         :rules [:spacebar-mode
                 ;symbols [](){}<>
                 [:a :open_bracket]
                 [:s :close_bracket]

                 [:d :open_paren]
                 [:f :close_paren]

                 [:j :open_brace]
                 [:k :close_brace]

                 [:l :less_than]
                 [:semicolon :greater_than]

                 ;symbol sequences
                 ; I'd rather use spacebar+shift as a layer: https://github.com/yqrashawn/GokuRakuJoudo/issues/94
                 [:left_shift [:spacebar :equal_sign :spacebar]]; = 
                 [:q [:!S9 :!S0 :equal_sign :greater_than :spacebar]];()=> 
                 [:e [:!S9 :!S9 :!S0 :equal_sign :greater_than :spacebar :open_brace :close_brace :!S0 :left_arrow :left_arrow]];(()=> {})
                 [:u [:c :o :n :s :o :l :e :period :l :o :g :open_paren :close_paren :left_arrow]];console.log()

                 [:g [:spacebar :equal_sign :greater_than :spacebar]]; => 
                 [:h [:equal_sign :open_brace :close_brace :left_arrow]];={}
                 [:b [:equal_sign :open_brace :close_brace :left_arrow]];={}
                 [:quote [:equal_sign :!Squote :!Squote :left_arrow]];=""


                 ;macros


                 ;
                 ]}


        {:des "special characters"
         :rules [:tilde-mode
                 ;special characters: !@#$%^&*()
                 [:##a :!S1]
                 [:##s :!S2]
                 [:##d :!S3]
                 [:##f :!S4]; 
                 [:##g :!S5]
                 [:##h :!S6]
                 [:##j :!S7]
                 [:##k :!S8]
                 [:##l :!S9]
                 [:##semicolon :!S0]
                 ; 
                 ]}

        {:des "numbers"
         :rules [:non-mode
                 [:##a :1]
                 [:##s :2]
                 [:##d :3]
                 [:##f :4]; 
                 [:##g :5]
                 [:##h :6]
                 [:##j :7]
                 [:##k :8]
                 [:##l :9]
                 [:##semicolon :0]
                 ;
                 ]}

        {:des "tab-mode"
         :rules [:tab-mode
                 ;open urls
                 [:-m [:open "https://access.mymind.com/cards"]]
                 [:-g [:open "https://mail.google.com/mail/u/0/#inbox"]]
                 [:-t [:open "https://twitter.com"]]
                 [:-k [:open "https://github.com/search?q=extension%3A.edn+filename%3Akarabiner.edn&type=Code&ref=advsearch&l=&l="]]
                 [:-l [:open "http://localhost:3000"]]
                 [:-n [:open "https://next.egghead.io"]]
;
                 ]}

        ;; I like the idea behind "modes" when slamming down a few keys at the same time, but never landed on something I like
        ;; {:des "chords"
        ;;  :rules [;
        ;;         [{:sim [:a :s :d :f] :simo {:interrupt false
        ;;                                      :dorder :insensitive
        ;;                                      :uorder :insensitive
        ;;                                      }} {:set ["asdf-mode" 1]}]

        ;;          :asdf-mode
        ;;          [:c [:c :o :n :s :o :l :e ] nil {:afterup {:set ["asdf-mode" 0]}}]

        ;;          ;
        ;;          ]
        ;;  }


        {:des "colemak"
         :rules [;
                 [:##e :f]
                 [:##r :p]
                 [:##t :g]
                 [:##y :j]
                 [:##u :l]
                 [:##i :u]
                 [:##o :y]
                 [:##p :semicolon]

                 [:##s :r]
                 [:##d :s]
                 [:##f :t]
                 [:##g :d]
                 [:##j :n]
                 [:##k :e]
                 [:##l :i]
                 [:##semicolon :o]

                 [:##n :k]

                 [:close_bracket :a]
                 ;
                 ]}



        ;
        ]}




;; rule [:period ["period-mode" 1] nil {:afterup ["period-mode" 0] :alone :period}]
;;       |_____| |_______________| |_| |_________________________________________|
;;        <from>    <to>      <conditions>         <other options>

    ;; !  | means mandatory
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; 
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
;; 
